server:
  port: 8082

spring:
  application:
    name: kbe-brewery-inventory-micro-service
    
  docker:
    compose:
      enabled: true
      stop:
        command: down

  cloud:
    discovery:
      enabled: false
      
  artemis:
    user: artemis
    password: simetraehcapa
    broker-url: tcp://localhost:61616
    
  security:
    user:
      name: good
      password: beer
      
  datasource:
    hikari:
      jdbc-url: jdbc:mysql://localhost:3306/beerservice?useUnicode=yes&characterEncoding=UTF-8
      username: root
      password: dbpassword
      driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    database: mysql
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        # Show SQL  
        show_sql: false
        # Format SQL
        format_sql: true
        
  data:
    jpa:
      repositories:
        bootstrap-mode: default

management:
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoints:
    access:
      default: unrestricted
    web:
      exposure:
        include: "*"
  endpoint:
    configprops:
      # WARNING: SECURITY RISK - DO NOT USE IN PRODUCTION ENVIRONMENT
      # This configuration exposes sensitive data and should only be used for development or testing purposes.
      # Ensure this is disabled in any environment where security is a concern.
      show-values: ALWAYS
    health:
      probes:
        enabled: true
      show-details: always
  info:
    build:
      enabled: true
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true
    git:
      enabled: true
      mode: full
  httpexchanges:
    recording:
      enabled: true
      include: request_headers, response_headers, session_id, time_taken
  observations:
    annotations:
      enabled: true
    http:
      server:
        requests:
          name: http.server.requests
      client:
        requests:
          name: http-client-requests

  otlp:
    metrics:
      export:
        enabled: false
  tracing:
    export:
      otlp:
        enabled: false
    sampling:
      probability: 1.0

sfg:
  brewery:
    queues:
      allocate-order: allocate-order
      new-inventory: new-inventory
      allocate-order-result: allocate-order-result